<!DOCTYPE html>
<html ng-app="videoFun">
  <head>
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-controller="MainCtrl">
    <ul id="controls">
      <li ng-repeat="f in filters">
        <a href ng-click="activeFilters.push(f)">+ {{f.name}}</a>
      </li>
      <li ng-repeat="f in activeFilters track by $index">
        <a href ng-click="activeFilters.splice($index, 1)">- {{f.name}}</a>
      </li>
    </ul>
    <canvas id="e" video-out width="640" height="480" filters="activeFilters">
    </canvas>
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>
