html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

body {
  color: #333;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#e {
  display: block;
  margin: 0px auto;
  cursor: pointer;
}

.rgb-picker {
  border: 2px solid transparent;
  max-width: 400px;
}

#controls {
  background: #f7f7f7;
  border-bottom: 1px solid #f3f3f3;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#controls li {
  display: inline-block;
  padding: 8px;
  border-right: 1px solid #f3f3f3;
}

a {
  text-decoration: none;
  color: #cc3300;
}

a.active {
  font-weight: bold;
  color: #ee3300;
}

#controls li:last-child {
  border-right: none;
}

#start-button {
  margin: 32px auto;
  display: block;
}

.helpful {
  font-size: 11px;
  color: #999;
  text-align: center;
}

.options {
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  position: absolute;
}

.option-item {
  padding-left: 24px;
}