html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

body {
  color: #333;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#e {
  display: block;
  margin: 0px auto;
}

#controls {
  background: #f7f7f7;
  border-bottom: 1px solid #f3f3f3;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#controls li {
  display: inline-block;
  padding: 8px;
  border-right: 1px solid #f3f3f3;
}

#controls li:last-child {
  border-right: none;
}